/* .homebg{
    background: url("https://cdn.discordapp.com/attachments/1079947255399862334/1098433745691881513/Get_started_in_Canva.png");
    background: url("https://cdn.discordapp.com/attachments/1079947255399862334/1098434298887016488/Get_started_in_Canva.mp4");
    height: 100vh;
    width: 100vw;
    color: red;
} */